*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/WorldofZuulfx/build/
/WorldofZuulfx/dist/
WorldofZuulfx/.idea/libraries/worldofzuulfx.xml
WorldofZuulfx/.idea/misc.xml
WorldofZuulfx/.idea/modules.xml
WorldofZuulfx/.idea/workspace.xml
WorldofZuulfx/WorldofZuulfx.iml
